.container {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 400px;
  margin: 5px;
  .up {
    display: flex;
    flex-direction: column;
    margin: 5px;
    img {
      width: 50%;
      margin: 0 auto;
    }
    .title {
      font-family: sans-serif;
    }
  }
  .down {
    display: flex;
    justify-content: space-between;
    margin: 0;

    .btn {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      text-decoration: none;
    }
  }
}
